<launch>

  <param name="/use_sim_time" value="true" />

  <node name="play" pkg="rosbag" type="play" args="--clock -r 4 $(find smarter_rosbag)/data/data.log.bag"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find smarter_rviz)/launch/replay_parsed_bag.rviz"/>

  <!-- Create a static transform between the laser scanner and the robot... this should be obtained by calibration. -->
  <node pkg="tf" type="static_transform_publisher" name="state_to_laser_link_broadcaster" args="1 0 0 3.14159 0 0 state_base_link laserscan0 100" />

</launch>
